BODY {
	-webkit-text-size-adjust: none;
	background: $bfbfbf;
	}
A {
	text-decoration: none;
	}
A:HOVER {
	text-decoration: underline;
	}
A.exref {
	font-family0: sans-serif;
	font-style: italic;
	}
.cat_rows {
	font-family: sans-serif;
	}
.version {
	color: #7f7f7f;
	font-family:
	sans-serif;
	font-size: smaller;
	}
p.art-fin {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8em;
	}
div.art-fin {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 8em;
	}
div.list_head {
	height: 24px;
	overflow: hidden;
	}
div.list_body {
	float: left;
	width: 288px;
	}
div.list_tail {
	height: 48px;
	overflow: hidden;
	margin-left: 72px;
	}
